#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]

(
    default_album_art_path: None,
    show_song_table_header: true,
    draw_borders: true,
    browser_column_widths:[20, 30, 60],
    symbols: (song: "   ",dir: "   ",marker: " ",ellipsis: "..."),
    text_color: "white",
    tab_bar: (
        enabled: true,
        active_style: (bg:"black" ,fg: "yellow", modifiers: "Bold"),
        inactive_style: (fg: "magenta", modifiers: ""),
    ),
    highlighted_item_style: (fg: "green", modifiers: "Bold"),
    current_item_style: (fg: "blue", bg: "black", modifiers: "Bold"),
    borders_style: (fg: "magenta", modifiers: "Bold"),
    highlight_border_style: (fg: "yellow"),
    progress_bar: (
        symbols: ["┄", "┅", "━"],
        track_style: (fg: "black"),
        elapsed_style: (fg: "yellow"),
        thumb_style: (fg: "blue"),
    ),
    scrollbar: (
        symbols: ["", "", "", ""],
        track_style: (fg: "magenta"),
        ends_style: (fg: "magenta"),
        thumb_style: (fg: "yellow"),
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
            (kind: Property(Title)),
            (kind: Text(" - ")),
            (kind: Property(Artist)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
    song_table_format: [
        (
            prop: (kind: Property(Title), style: (fg: "cyan"),
                highlighted_item_style: (fg: "black", modifiers: "Bold"),
                default: (kind: Property(Filename), style: (fg: "magenta"),)
            ),
            width: "50%",
        ),
        (
            prop: (kind: Property(Artist), style: (fg: "white"),
                default: (kind: Text("Unknown Artist"), style: (fg: "magenta"))
            ),
            width: "45%",
        ),
        (
            prop: (kind: Property(Duration), style: (fg: "yellow")),
            width: "10%",
            alignment: Right,
        ),
    ],
    header: (
        rows: [
            (
                left: [
                    (kind: Property(Status(StateV2(playing_label: " ❚❚ ", paused_label: "  ", stopped_label: " "))), style: (fg: "cyan", modifiers: "Bold")),
                ],
                center: [
                    (kind: Property(Song(Title)), style: (fg: "white",modifiers: "Bold"),
                        default: (kind: Property(Song(Filename)), style: (fg: "white",modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Text("Vol: "), style: (fg: "yellow", modifiers: "Bold")),
                    (kind: Property(Status(Volume)), style: (fg: "yellow", modifiers: "Bold")),
                    (kind: Text("% "), style: (fg: "yellow", modifiers: "Bold"))
                ]
            ),
            (
                left: [
                    (kind: Property(Status(Elapsed)),style: (fg: "white")),
                    (kind: Text("/"),style: (fg: "magenta")),
                    (kind: Property(Status(Duration)),style: (fg: "white")),
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "white", modifiers: "Bold"),
                        default: (kind: Text("Unknown Artist"), style: (fg: "red", modifiers: "Bold"))
                    ),
                ],
                right: [
                    (
                        kind: Property(Widget(States(
                            active_style: (fg: "yellow", modifiers: "Bold"),
                            separator_style: (fg: "magenta")))
                        ),
                        style: (fg: "magenta")
                    ),
                ]
            ),
        ],
    ),
    layout: Split(
        direction: Vertical,
        panes: [
            (
                size: "4",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                    (
                            size: "100%",
                            pane: Split(
                                direction: Vertical,
                                panes: [
                                (
                                        size: "4",
                                        borders: "ALL",
                                        pane: Pane(Header),
                                    ),
                                ]
                            )
                        ),
                    ]
                ),
            ),
            (
                size: "3",
                pane: Pane(Tabs),
            ),
            (
                size: "100%",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (
                            size: "100%",
                            borders: "NONE",
                            pane: Pane(TabContent),
                        ),
                    ]
                ),
            ),
            (
                size: "3",
                borders: "TOP | BOTTOM",
                pane: Pane(ProgressBar),
            ),
        ],
    ),
)
